@model IEnumerable<CinemaProject.Domain.DomainModels.Ticket>
@inject CinemaProject.Service.Interface.IMovieService movieService

@{
    ViewData["Title"] = "Tickets";
}

<div class="container">
    <h1 class="w-100 text-center">Available Tickets in the Cinema</h1>
    <hr />

    <p>
        <a asp-action="Create" class="btn btn-success">Create a new ticket</a>
    </p>
</div>

<div class="container mb-3">
    <div class="row justify-content-end">
        <div>
            <form asp-action="Index" asp-controller="Tickets" method="get">
                <input class="form-control mb-1" name="filterDate" type="date" />
                <button class="inline btn btn-primary">Filter by date</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@movieService.GetMovieById(item.ForMovieId).ImageURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ticket for movie <span class="font-weight-bolder">@movieService.GetMovieById(item.ForMovieId).Name</span></h5>
                        <h6 class="card-subtitle pt-2">Movie category: <span class="font-weight-bolder">@movieService.GetMovieById(item.ForMovieId).Category</span></h6>
                        <h6 class="card-text h6">Valid for date: <span class="font-weight-bolder">@item.ValidForDate.ToShortDateString()</span></h6>

                    </div>
                    <div class="card-link ml-4 mb-1">
                        <a class="btn btn-outline-success mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-info mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-outline-danger mr-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                    <div class="card-footer text-center mt-2">
                        <p class="lead">Price: <span class="font-weight-bold">@item.Price $</span></p>
                        <a class="btn btn-warning mr-2 text-white font-weight-bold" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-ticketId="@item.Id">Add to cart</a>

                    </div>
                </div>
            </div>



            @*        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
        <img src="@item.ImageURL" width="125">

        </td>
        <td>
        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>*@
        }

    </div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
